# projects
core/project/VisualStudio15
game/project/VisualStudio15
client/project/VisualStudio15
server/project/VisualStudio15
toolkit/project/VisualStudio15

# debug program database
*.pdb

# config
web/config.php

# public web files
web/public/files
