* {
    font-family: sans-serif;
}

body {
    background: #222;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #aaa;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #bbb;
}

header {
    background: #333;
    padding: 8px;
    border-bottom: 1px solid #111;
    margin-bottom: 4px;
}

header h1 {
    margin-left: 48px;
    margin-right: 24px;
    display: inline-block;
}

header a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1.1em;
    margin: 0 16px;
    transition: 0.2s ease all;
    border: 1px solid transparent;
}

header a:hover {
    transition: 0.1s ease all;
    border: 1px solid lightsteelblue;
}

header span {
    color: #777;
    user-select: none;
}

main {
    background: #333;
    padding: 64px;
}

main section {
    background: #2c2c2c;
    padding: 32px 64px;
}

main p {
    color: #aaa;
}

footer {
    background: #333;
    padding: 4px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #111;
    margin-top: 4px;
}

footer p {
    color: #aaa;
    font-size: 1em;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table tr {
}

table tr td {
    padding: 8px;
    color: #aaa;
    background: #333;
}

input {
    background: #666;
    color: #aaa;
    border: 1px solid #444;
    padding: 8px;
    font-size: 1.5em;
    outline: none;
}

input:focus {
    border: 1px solid #bbb;
}

input.error {
    border: 1px solid darkred;
}

#signup_form tr td {
    background: transparent;
}

#signup_form input {
    width: 400px;
}

button {
    background: #444;
    border: 1px solid #333;
    outline: none;
    padding: 8px 16px;
    font-size: 1.2em;
    cursor: pointer;
    color: #aaa;
}

button:hover {
    background: #333;
    border: 1px solid #2a2a2a;
    color: #888;
}

#download {
    padding: 16px 32px;
    background: steelblue;
    color: #222;
    font-size: 1.2em;
    border: 1px solid transparent;
    transition: 0.3s ease all;
}

#download:hover {
    background: #333;
    color: #999;
    border: 1px solid lightsteelblue;
    transition: 0.15s ease all;
}

#leaderboard {

}

#leaderboard tr {

}

#leaderboard tr td {
    padding: 12px 24px;
}
